
@{
    ViewBag.Title = "Hata - Bisiklet Kliniği";
}

<div class="container">

    <div class="row">

        <div class="col text-center mt-5" style="min-height:70vh;">
            <div class="row">
                <h1>Bir hata oluştu - <i class="bi bi-emoji-frown"></i></h1> 
            </div>
            <div class="row">
                <h3>Maalesef bu isteğinize yanıt veremeyeceğiz.</h3>
            </div>
            <div class="row">
                <h4>Ürün ve hizmetlerimiz hakkında bilgi almak için <a class="btn btn-lg btn-primary" href="/" role="button">Anasayfa'ya</a> dönebilirsiniz.</h4>
            </div>
        </div>

    </div>

</div>
