<div class="container Contact">
    <div class="row">

        <div class="col d-flex align-items-center">
            <address>
                Adres: Mevlana Mahallesi Çelebi Mehmet Caddesi  <br />
                No: 33A 34515 Esenyurt – İstanbul <br />
                Telefon: 0 212 854 38 55 / 300 <br />
                Posta Kodu: 34515 <br />
                E-Posta: info@marmarapark.com <br />
                Web: www.marmarapark.com
            </address>
        </div>

        <div class="col">
            <div id="map">

            </div>
        </div>

    </div>
</div>