<div class="container mt-4 Contact">
    <div class="row">

        <div class="col d-flex align-items-center">
            <address>
                Adres: Mevlana Mahallesi Çelebi Mehmet Caddesi
                No: 33A 34515 Esenyurt – İstanbul <br />
                Telefon: 0 212 854 38 55 / 300 <br />
                Posta Kodu: 34515 <br />
                E-Posta: info@marmarapark.com <br />
                Web: www.marmarapark.com
            </address>
        </div>

        <div class="col">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12043.729537165018!2d28.529059237304352!3d41.00485311881609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b55d80ded6341f%3A0xa85e63bd0cefceb!2zTWltYXJvYmEsIDM0NTM1IELDvHnDvGvDp2VrbWVjZS_EsHN0YW5idWw!5e0!3m2!1str!2str!4v1614537317166!5m2!1str!2str"  style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

    </div>
    
    <section class="align-center text-center">
        <div class="container align-items-center">
            <hr>
            <h2>İletişime Geçin</h2>
            <p>Düşüncelerinizi iletişim formuyla iletmekten çekinmeyin.</p>

            <div class="col-md-6" style="margin: auto">
                @if (TempData["ContactSendMessageResult"] != null)
                {
                    <hr/>
                    <h1 style="color: red;">@TempData["ContactSendMessageResult"]</h1>
                    <hr/>
                }
                <form method="POST" action="/ContactUs/SendMessage" class="form-horizontal">
                    <div class="row mt-3">
                        <div class="col">
                            <div class="form-group">
                                <label for="Name">İsim</label>
                                <input type="text" class="form-control" name="Name" placeholder="İsim">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="LastName">Soyisim</label>
                                <input type="text" class="form-control" name="LastName" placeholder="Soyisim">
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label for="Email">Email</label>
                        <input type="email" class="form-control" name="Email" placeholder="isimsoyisim@example.com">
                    </div>
                    <div class="form-group mt-3">
                        <label for="Message">Mesaj</label>
                        <textarea class="form-control" name="Message" placeholder="Buradan bir mesaj gönderebilirsiniz!"></textarea>
                    </div>
                    <button type="submit" class="btn btn-danger btn-lg mt-3">Gönder</button>
                </form>

                <hr>
                <h3>Sosyal Medyada Biz</h3>
                <ul class="list-inline Social-links">
                    <li><a href="https://www.facebook.com/" class="btn btn-default btn-lg"><i class="bi bi-facebook"></i> Facebook</a></li>
                    <li><a href="https://twitter.com/" class="btn btn-default btn-lg"><i class="bi bi-twitter"></i> Twitter</a></li>
                    <li><a href="https://www.instagram.com/" class="btn btn-default btn-lg"><i class="bi bi-instagram"></i> Instagram</a></li>
                </ul>
            </div>

        </div>

    </section>


</div>