@{
    Layout = "_noLayout";
}

@model Entities.Concrete.User

@{
    ViewBag.Title = "Yönetim Paneli - Giriş Yap";
}

<div class="container rounded Login bg-light align-middle" style="max-width:400px !important; height:400px !important; margin-top:15em; opacity:80%;">
    <h1 class="text-center">Giriş yap</h1>

    @if (TempData["userIsNotLogin"] != null)
    {
        <h4 style="color: red; text-align: center;">@TempData["userIsNotLogin"]</h4>
        @(TempData["userIsNotLogin"] = null);
    }

    <form method="post" asp-controller="Admin" asp-action="Login" class="Portal-kayit-form">
        <div class="row">
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
            </div>
            <div class="sm-3 text-center">
                <button type="submit" class="btn btn-lg btn-primary">Giriş Yap</button>
            </div>

        </div>
    </form>

</div>

