<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
<h1>Giriş yap</h1>
<form action="/Admin/Login" method="post">
    <div>
        <label for="mail">Mail</label>
        <input name="mail" />
    </div>

    <div>
        <label for="password">Şifre</label>
        <input name="password" />
    </div>

    <button type="submit">Gönder</button>
</form>
</body>
</html>