<div class="container Login">
    <h1>Giriş yap</h1>
    @if (@ViewBag.error != null)
    {
        <h3>@ViewBag.error</h3>
    }

    <form action="/Admin/Login" method="post" class="Portal-kayit-form">
        <div class="row">
            <div class="mb-3">
                <label for="mail" class="form-label">Email adresi</label>
                <input type="email" class="form-control" name="mail" aria-describedby="emailHelp" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Şifreniz</label>
                <input type="password" class="form-control" name="password" />
            </div>
            <div class="sm-3">
                <button type="submit" class="btn btn-lg btn-primary">Giriş Yap</button>
            </div>
            
        </div>
    </form>

</div>

