@{
    Layout = "_noLayout";
}

@{
    ViewBag.Title = "Yönetim Paneli - Giriş Yap";
}

<div class="container rounded Login bg-light align-middle" style="max-width:400px !important; height:400px !important; margin-top:15em; opacity:80%;">
    <h1 class="text-center">Giriş yap</h1>

    @if (TempData["userIsNotLogin"] != null)
    {
        <h4 style="color: red; text-align: center;">@TempData["userIsNotLogin"]</h4>
        @(TempData["userIsNotLogin"] = null);
    }

    <form action="/Admin/Login" method="post" class="Portal-kayit-form">
        <div class="row">
            <div class="mb-3">
                <label for="mail" class="form-label">Email adresi</label>
                <input type="email" class="form-control" name="mail" aria-describedby="emailHelp" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Şifreniz</label>
                <input type="password" class="form-control" name="password" />
            </div>
            <div class="sm-3 text-center">
                <button type="submit" class="btn btn-lg btn-primary">Giriş Yap</button>
            </div>

        </div>
    </form>

</div>

