@{
    Layout = "_noLayout";
}

@model Entities.Concrete.User

@{
    ViewBag.Title = "Yönetim Paneli - Kayıt Ol";
}

@if (ViewBag.registerResult != null)
{
    <h1>@ViewBag.registerResult</h1>
}

<div class="container Register bg-light" style="max-width:500px !important; height:600px !important; margin-top:10em; opacity:80%;">
    <h1>Kayıt ol</h1>
    <form method="post" asp-controller="Admin" asp-action="Register" class="Portal-kayit-form">
        <div class="row">

            <input type="hidden" asp-for="Role" value="1"/>

            <div class="col">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control"/>
                    <span asp-validation-for="Name"></span>
                </div>
            </div>

            <div class="col">
                <div class="mb-3">
                    <label asp-for="LastName" class="form-label"></label>
                    <input asp-for="LastName" class="form-control"/>
                    <span asp-validation-for="LastName"></span>
                </div>
            </div>

        </div>

        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control"  />
            <span asp-validation-for="Email"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control"/>
            <span asp-validation-for="Password"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Phone" class="form-label"></label>
            <input asp-for="Phone" class="form-control"/>
            <span asp-validation-for="Phone"></span>
        </div>

        <div class="mb-3 text-center">
            <button type="submit" class="btn btn-lg btn-primary">Kayıt Ol</button>
        </div>
        
    </form>
</div>

