@{
    Layout = "_AdminLayout";
}


@model object

@{
    ViewBag.Title = "Satış Güncelle";
}

@if (ViewBag.updateResult != null)
{
    <h1>Sonuç: @ViewBag.updateResult</h1>
}

<h2>Ürün Güncelle</h2>
