<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>BisikletKliniği</title>
</head>
<body>
    <div id="fullpage">

        <div class="section homepage">
            <h1> Anasayfa </h1>
        </div>

        <div class="section about">
            <h1> Hakkımızda </h1>
        </div>

        <div class="section sales">
            <h1> Satışlar </h1>
        </div>

        <div class="section footer">
            <h1> İletişim </h1>
        </div>

    </div>

</body>
</html>