<!DOCTYPE html>
<html lang="tr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>BisikletKliniği</title>
    <meta name="author" content="YESODE yazılım" />
    <meta name="description" content="Bisiklet kliğini resmi websitesi." />
    <meta name="keywords" content="bisiklet,bisiklet tamiri,bisiklet satışı, beylikdüzü bisikletçi" />
    <meta name="Resource-type" content="Document" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.0/fullpage.min.css" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="Navbar">
        <a class="Navbar-link" href="#homepage">Anasayfa</a>
        <a class="Navbar-link" href="#about">Hakkımızda</a>
        <a class="Navbar-link" href="#sales">Satılık Bisikletler</a>
        <a class="Navbar-link" href="#contact">İletişim</a>
    </nav>

    <div id="fullpage">

        <header class="section Homepage">
            <p class="Homepage-text">Sıfır ve ikinci el bisiklet satış, tamir ve bakım hizmeti sunuyoruz.
                <br />  
            Müşteri memnuniyetiniz için tutkuyla çalıştığımız bisiklet sektöründe hizmet vermekteyiz.
            </p>

            <div class="slide active"><h1>fotoğraf1</h1></div>
            <div class="slide"><h1>fotoğraf2</h1></div>
            <div class="slide"><h1>foto3</h1></div>
            <div class="slide"><h1>foto4</h1></div>
        </header>

        <section class="section About">
            <div class="About-img">
                <img src="bisiklettamiri.jpg" alt="bisiklet tamiri" />
            </div>
            <div class="About-text">
                <p>
                    Dükkanımız bisiklet sahipleri için haftanın 6 günü hizmet vermetedir.
                    Çocuk bisikletlerinden yarış bisikletlerine kadar her çeşitteki bisiklet için
                    beylikdüzündeki mağazamızda bakım, tamir, yenileme ve yedek parça hizmeti sunuyoruz.
                </p>
            </div>
           
        </section>

        <section class="section Sales">
            <h1> Satışlar </h1>
        </section>

        <footer class="section Contact">
            <h1> İletişim </h1>
        </footer>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.0/fullpage.min.js"></script>
    <script src="script.js"></script>

</body>
</html>