@{
    ViewBag.Title = "Hakkımızda - Bisiklet Kliniği";
}

<div class="container mt-4 About">

    <div class="row">
        <h1 class="text-center">Biz Kimiz?</h1>
        <div class="col">
            <img class="img-fluid About-img" style="min-width:375px;" src="/img/bisiklet-tamiri.jpg" alt="bisiklet kliniği" />
        </div>

        <div class="col d-flex align-items-center">
            <p class="align-middle">
                İşletmemiz bisiklet sahipleri için haftanın her günü hizmet vermektedir.
                Çocuk bisikletlerinden yarış bisikletlerine kadar her çeşitteki bisiklet için
                Büyükçekmece'deki mağazamızda bakım, tamir, yenileme ve yedek parça hizmeti sunuyoruz.
            </p>


        </div>


    </div>

</div>