<div class="container About">
    <div class="row">
        <div class="col">
            <img class="img-fluid About-img" style="min-width:375px;" src="/img/bisiklet-tamiri.jpg" alt="bisiklet tamiri" />
        </div>

        <div class="col d-flex align-items-center">
            <p class="align-middle">
                Dükkanımız bisiklet sahipleri için haftanın 6 günü hizmet vermektedir.
                Çocuk bisikletlerinden yarış bisikletlerine kadar her çeşitteki bisiklet için
                beylikdüzündeki mağazamızda bakım, tamir, yenileme ve yedek parça hizmeti sunuyoruz.
            </p>


        </div>


    </div>

</div>