@{
    Layout = "_AdminLayout";
}

@using Microsoft.AspNetCore.Http
@model Entities.Concrete.Sale

@{
    ViewBag.Title = "Yönetim Paneli - İlan Oluşturma";
}

@if (@ViewBag.createSuccess != null)
{
    <div class="alert alert-warning myAlert">
        @ViewBag.createSuccess
    </div>
}
<div class="container">

    <form class="row mt-4 g-3 pb-5" method="post" asp-controller="Sales" asp-action="Create" enctype="multipart/form-data">
        
        <div class="col-md-4">
            <label asp-for="Topic" class="form-label"></label>
            <input asp-for="Topic" class="form-control">
            <span asp-validation-for="Topic"></span>
        </div>

        <div class="col-md-4">
            <label asp-for="Usage" class="form-label"></label>
            <select asp-for="Usage" class="form-select">
                <option selected value="sifir">Sıfır</option>
                <option value="ikinciel">İkinci El</option>
            </select>
            <span asp-validation-for="Usage"></span>
        </div>

        <div class="col-md-4">
            <label asp-for="Price" class="form-label"></label>
            <input asp-for="Price" pattern="^(0(?!\.00) |[1 - 9]\d{ 0,6})\.\d{ 2}$" class="form-control">
            <span asp-validation-for="Price"></span>
        </div>

        <div class="col-md-8">
            <label asp-for="Description" class="form-label"></label>
            <textarea asp-for="Description" class="form-control" rows="4"></textarea>
            <span asp-validation-for="Description"></span>
        </div>

        <div class="col-md-4">

            <div class="row">
                <div class="col">
                    <label asp-for="Genre" class="form-label"></label>
                    <select asp-for="Genre" class="form-select">
                        <option selected value="Yol Bisikleti">Yol Bisikleti</option>
                        <option value="Dağ Bisikleti">Dağ Bisikleti</option>
                        <option value="Şehir Bisikleti">Şehir Bisikleti</option>
                        <option value="Katlanır Bisiklet">Katlanır Bisiklet</option>
                        <option value="Elektrikli Bisiklet">Elektrikli Bisiklet</option>
                    </select>
                    <span asp-validation-for="Genre"></span>
                </div>
            </div>

            <div class="row pt-2">
                <div class="col">
                    <label asp-for="Shifters" class="form-label"></label>
                    <input asp-for="Shifters" class="form-control">
                    <span asp-validation-for="Shifters"></span>
                </div>
            </div>

        </div>

        <div class="col-md-4">
            <label asp-for="Brand" class="form-label"></label>
            <input asp-for="Brand" class="form-control">
            <span asp-validation-for="Brand"></span>
        </div>

        <div class="col-md-4">
            <label asp-for="Model" class="form-label"></label>
            <input asp-for="Model" class="form-control">
            <span asp-validation-for="Model"></span>
        </div>

        <div class="col-md-4">
            <label asp-for="FrameSize" class="form-label"></label>
            <input asp-for="FrameSize" class="form-control">
            <span asp-validation-for="FrameSize"></span>
        </div>

        <div class="col-md-4">
            <label asp-for="WheelSize" class="form-label"></label>
            <input asp-for="WheelSize" class="form-control">
            <span asp-validation-for="WheelSize"></span>
        </div>

        <div class="col-md-4">
            <label asp-for="BrakeSystem" class="form-label"></label>
            <input asp-for="BrakeSystem" class="form-control">
            <span asp-validation-for="BrakeSystem"></span>
        </div>

        <div class="col-md-4">
            <label asp-for="ForkType" class="form-label"></label>
            <input asp-for="ForkType" class="form-control">
            <span asp-validation-for="ForkType"></span>
        </div>

        <div class="col-md-4">
            <label asp-for="Speed" class="form-label"></label>
            <input asp-for="Speed" type="number" class="form-control">
            <span asp-validation-for="Speed"></span>
        </div>

        <div class="col-md-4">
            <label asp-for="Warranty" class="form-label"></label>
            <select asp-for="Warranty" id="Warranty" class="form-select">
                <option selected value="Devam Ediyor">Devam Ediyor</option>
                <option value="Devam Etmiyor">Devam Etmiyor</option>
            </select>
            <span asp-validation-for="Warranty"></span>
        </div>

        <div class="col-md-4">
            <label asp-for="RearDerailleur" class="form-label"></label>
            <input asp-for="RearDerailleur" class="form-control">
            <span asp-validation-for="RearDerailleur"></span>
        </div>

        <div class="col-md-4">
            <label asp-for="FrontDerailleurs" class="form-label"></label>
            <input asp-for="FrontDerailleurs" class="form-control">
            <span asp-validation-for="FrontDerailleurs"></span>
        </div>

        <div class="col-md-4">
            <label asp-for="Crankset" class="form-label"></label>
            <input asp-for="Crankset" class="form-control">
            <span asp-validation-for="Crankset"></span>
        </div>

        <div class="col-md-4">
            <label asp-for="Image" class="form-label"></label>
            <input asp-for="Image" type="file" class="form-control">
            <span asp-validation-for="Image"></span>
        </div>

        <div class="col-12 text-center">
            <button type="submit" class="btn btn-lg btn-primary">Gönder</button>
        </div>

    </form>

</div>

