@{
    Layout = "_AdminLayout";
}

@{
    ViewBag.Title = "Yönetim Paneli - İlan Oluşturma";
}

@if(@ViewBag.updateMessage != null)
{
<div class="alert alert-warning myAlert">
    @ViewBag.updateMessage
</div>
}
<div class="container">

    <form class="row mt-4 g-3 pb-5" method="post" asp-controller="Sales" asp-action="Create" enctype="multipart/form-data">

        <div class="col-md-4">
            <label for="Topic" class="form-label">Başlık</label>
            <input type="text" name="Topic" class="form-control" id="Topic">
        </div>
        <div class="col-md-4">
            <label for="Usage" class="form-label">Kullanım Durumu</label>
            <select id="Usage" name="Usage" class="form-select">
                <option selected value="sifir">Sıfır</option>
                <option value="ikinciel">İkinci El</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="Price" class="form-label">Fiyat</label>
            <input type="text" pattern="^\d*(\.\d{0,2})?$" name="Price" class="form-control" id="Price">
        </div>

        <div class="col-md-8">
            <label for="Description" class="form-label">Açıklama</label>
            <textarea class="form-control" name="Description" id="Description" rows="4"></textarea>
        </div>

        <div class="col-md-4">
            <div class="row">
                <div class="col">
                    <label for="Genre" class="form-label">Tür</label>
                    <select id="Genre" name="Genre" class="form-select">
                        <option selected value="Yol Bisikleti">Yol Bisikleti</option>
                        <option value="Dağ Bisikleti">Dağ Bisikleti</option>
                        <option value="Şehir Bisikleti">Şehir Bisikleti</option>
                        <option value="Katlanır Bisiklet">Katlanır Bisiklet</option>
                        <option value="Elektrikli Bisiklet">Elektrikli Bisiklet</option>
                    </select>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col">
                    <label for="Shifters" class="form-label">Vites Kolları</label>
                    <input type="text" name="Shifters" class="form-control">
                </div>
            </div>
           

        </div>
        


        <div class="col-md-4">
            <label for="Brand" class="form-label">Marka</label>
            <input type="text" name="Brand" class="form-control">
        </div>

        <div class="col-md-4">
            <label for="Model" class="form-label">Model</label>
            <input type="text" name="Model" class="form-control">
        </div>

        <div class="col-md-4">
            <label for="FrameSize" class="form-label">Kadro Boyu</label>
            <input type="text" name="FrameSize" class="form-control">
        </div>

        <div class="col-md-4">
            <label for="WheelSize" class="form-label">Tekerlek çapı</label>
            <input type="text" name="WheelSize" class="form-control">
        </div>

        <div class="col-md-4">
            <label for="BrakeSystem" class="form-label">Fren sistemi</label>
            <input type="text" name="BrakeSystem" class="form-control">
        </div>

        <div class="col-md-4">
            <label for="ForkType" class="form-label">Maşa tipi</label>
            <input type="text" name="ForkType" class="form-control">
        </div>

        <div class="col-md-4">
            <label for="Speed" class="form-label">Vites Sayısı</label>
            <input type="number" name="Speed" class="form-control">
        </div>

        <div class="col-md-4">
            <label for="Warranty" class="form-label">Garanti Durumu</label>
            <select id="Warranty" name="Warranty" class="form-select">
                <option selected value="Devam Ediyor">Devam Ediyor</option>
                <option value="Devam Etmiyor">Devam Etmiyor</option>
            </select>
        </div>

        <div class="col-md-4">
            <label for="RearDerailleur" class="form-label">Arka Aktarıcı</label>
            <input type="text" name="RearDerailleur" class="form-control">
        </div>

        <div class="col-md-4">
            <label for="FrontDerailleurs" class="form-label">Ön Aktarıcı</label>
            <input type="text" name="FrontDerailleurs" class="form-control">
        </div>

        <div class="col-md-4">
            <label for="Crankset" class="form-label">Aynakol</label>
            <input type="text" name="Crankset" class="form-control">
        </div>



        <div class="col-md-4">
            <label for="Image" class="form-label">Fotoğraf</label>
            <input class="form-control" name="Image" type="file" id="Image">
        </div>

        <div class="col-12 text-center">
            <button type="submit" class="btn btn-lg btn-primary">Gönder</button>
        </div>
    </form>

</div>

