@{
    Layout = "_AdminLayout";
}

@model Entities.Concrete.Sale

@{
    ViewBag.Title = "Yönetim Paneli - İlan Oluşturma";
}

@if (@ViewBag.updateMessage != null)
{
    <div class="alert alert-warning myAlert">
        @ViewBag.updateMessage
    </div>
}
<div class="container">

    <form class="row mt-4 g-3 pb-5" method="post" asp-controller="Sales" asp-action="Create" enctype="multipart/form-data">

        <div class="col-md-4">
            <label asp-for="Topic" class="form-label"></label>
            <input asp-for="Topic" class="form-control" id="Topic">
        </div>

        <div class="col-md-4">
            <label asp-for="Usage" class="form-label"></label>
            <select asp-for="Usage" id="Usage" class="form-select">
                <option selected value="sifir">Sıfır</option>
                <option value="ikinciel">İkinci El</option>
            </select>
        </div>

        <div class="col-md-4">
            <label asp-for="Price" class="form-label"></label>
            <input asp-for="Price" pattern="^\d*(\.\d{0,2})?$" class="form-control" id="Price">
        </div>

        <div class="col-md-8">
            <label asp-for="Description" class="form-label"></label>
            <textarea asp-for="Description" class="form-control" rows="4"></textarea>
        </div>

        <div class="col-md-4">

            <div class="row">
                <div class="col">
                    <label asp-for="Genre" class="form-label"></label>
                    <select asp-for="Genre" id="Genre" class="form-select">
                        <option selected value="Yol Bisikleti">Yol Bisikleti</option>
                        <option value="Dağ Bisikleti">Dağ Bisikleti</option>
                        <option value="Şehir Bisikleti">Şehir Bisikleti</option>
                        <option value="Katlanır Bisiklet">Katlanır Bisiklet</option>
                        <option value="Elektrikli Bisiklet">Elektrikli Bisiklet</option>
                    </select>
                </div>
            </div>

            <div class="row pt-2">
                <div class="col">
                    <label asp-for="Shifters" class="form-label"></label>
                    <input asp-for="Shifters" class="form-control">
                </div>
            </div>

        </div>

        <div class="col-md-4">
            <label asp-for="Brand" class="form-label"></label>
            <input asp-for="Brand" class="form-control">
        </div>

        <div class="col-md-4">
            <label asp-for="Model" class="form-label"></label>
            <input asp-for="Model" class="form-control">
        </div>

        <div class="col-md-4">
            <label asp-for="FrameSize" class="form-label"></label>
            <input asp-for="FrameSize" class="form-control">
        </div>

        <div class="col-md-4">
            <label asp-for="WheelSize" class="form-label"></label>
            <input asp-for="WheelSize" class="form-control">
        </div>

        <div class="col-md-4">
            <label asp-for="BrakeSystem" class="form-label"></label>
            <input asp-for="BrakeSystem" class="form-control">
        </div>

        <div class="col-md-4">
            <label asp-for="ForkType" class="form-label"></label>
            <input asp-for="ForkType" class="form-control">
        </div>

        <div class="col-md-4">
            <label asp-for="Speed" class="form-label"></label>
            <input asp-for="Speed" class="form-control">
        </div>

        <div class="col-md-4">
            <label asp-for="Warranty" class="form-label"></label>
            <select asp-for="Warranty" id="Warranty" class="form-select">
                <option selected value="Devam Ediyor">Devam Ediyor</option>
                <option value="Devam Etmiyor">Devam Etmiyor</option>
            </select>
        </div>

        <div class="col-md-4">
            <label asp-for="RearDerailleur" class="form-label"></label>
            <input asp-for="RearDerailleur" class="form-control">
        </div>

        <div class="col-md-4">
            <label asp-for="FrontDerailleurs" class="form-label"></label>
            <input asp-for="FrontDerailleurs" class="form-control">
        </div>

        <div class="col-md-4">
            <label asp-for="Crankset" class="form-label"></label>
            <input asp-for="Crankset" class="form-control">
        </div>

        <div class="col-md-4">
            <label asp-for="Image" class="form-label"></label>
            <input asp-for="Image" class="form-control" id="Image">
        </div>

        <div class="col-12 text-center">
            <button type="submit" class="btn btn-lg btn-primary">Gönder</button>
        </div>

    </form>

</div>

