@model X.PagedList.IPagedList<Entities.Concrete.Sale>

@using X.PagedList.Mvc.Core; 
@using X.PagedList;

@section pagination
{
    <link href="/css/PagedList.css" rel="stylesheet" type="text/css" />
}

@{
    ViewBag.Title = "Satılık Bisikletler - Bisiklet Kliniği";
}
<div class="container mt-4">

    <div class="container Sales position-relative mt-5">
        <div class="row d-flex Sales-row justify-content-center">
            @if (ViewBag.result.Count > 0)
            {
                @await Html.PartialAsync("_saleCard", Model)
            }
            else
            {
                <div class="alert alert-warning myAlert text-center">
                    @ViewBag.saleErrorMessage
                </div>
            }


        </div>

        <div class="row">
            <div class="text-center d-flex justify-content-center">@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Index", new { page }))</div>
        </div>

    </div>
</div>




