@model List<Entities.Concrete.Sale>

<div class="container mt-4">

    <h1> Satıştaki Bisikletler </h1>

    <div class="container Sales position-relative">
        <div class="row d-flex Sales-row">

            @if (Model.Count > 0)
            {
                @await Html.PartialAsync("_saleCard", Model)
            }
            else
            {
                <div class="col-sm alert alert-warning">
                    Satılık bisiklet ilanı bulunamadı!
                </div>
            }

        </div>

        <nav aria-label="Page navigation" class="position-absolute bottom-0 start-50 translate-middle-x">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Önceki">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Sonraki">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>



