@model Entities.Concrete.Sale

<div class="container mt-4">

    <h1> Satıştaki Bisikletler </h1>

    <div class="border border-5 Sales">
        <div class="card m-2" style="width: 18rem;">
            <img src="~/img/bisiklet-tamiri.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">sale.Topic</h5>
                <p class="card-text">sale.Description</p>
                <a href="#" class="btn btn-primary">id:sale.Id</a>
            </div>
        </div>
        @foreach (var sale in (List<Entities.Concrete.Sale>)ViewBag.result)
        {
            <div class="card p-2" style="width: 18rem;">
                <img src="~/img/broken-bicycle.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@sale.Topic</h5>
                    <p class="card-text">@sale.Description</p>
                    <a href="#" class="btn btn-primary">id: @sale.Id</a>
                </div>
            </div>
        }

    </div>
   
</div>



