@model X.PagedList.IPagedList<Entities.Concrete.Sale>

@using X.PagedList.Mvc.Core;
@using X.PagedList;

@section pagination
{
    <link href="/css/PagedList.css" rel="stylesheet" type="text/css" />
}

@{
    ViewBag.Title = "Satılık Bisikletler - Bisiklet Kliniği";
}
<div class="container mt-4">

    <h1 class="text-center"> Satılık Bisikletler </h1>

    <div class="container Sales position-relative">
        <div class="row d-flex Sales-row">
            @if (ViewBag.result.Count > 0)
            {
                @await Html.PartialAsync("_saleCard", Model)
            }
            else
            {
                <div class="alert alert-warning myAlert">
                    @ViewBag.indexResult
                </div>
            }

            <div class="row"></div>
            <div class="col-md-5"></div>
            <div class="col-md-2 mt-4">@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Index", new { page }))</div>
            <div class="col-md-5"></div>

        </div>
    </div>
</div>