<nav class="navbar Admin-navbar shadow-sm navbar-expand-xxl navbar-light bg-light rounded">
    <div class="container fs-5">
        <a class="navbar-brand align-middle" href="/">
            <img src="/img/logo-kirmizi-borderless.png" alt="" height="100" class="d-inline-block align-top" />
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="ms-auto">
                <a class="btn btn-primary text-center fs-5 ms-2" href="/admin/index" role="button"><i class="bi bi-arrow-90deg-left"></i> Panel Anasayfa</a>
                <a class="btn btn-secondary text-center fs-5 ms-2" href="/admin/Messages" role="button"><i class="bi bi-chat-left-text"></i> Mesajlar</a>
                <a class="btn btn-success text-center fs-5 ms-2" href="/admin/create" role="button"><i class="bi bi-shop"></i> İlan Ekle</a>
                <a class="btn btn-info text-white text-center fs-5 ms-2" href="/admin/ShowAllUsers" role="button"><i class="bi bi-person-circle"></i> Kullanıcı Yönetimi</a>
                <a class="btn btn-warning text-white text-center fs-5 ms-2" href="/admin/UserManagement" role="button"><i class="bi bi-gear"></i> Hesap Ayarları</a>
                <a class="btn btn-danger text-center fs-5 ms-2" href="/admin/logout" role="button"><i class="bi bi-door-closed"></i> Çıkış</a>
            </div>
            
        </div>
            
        </div>
</nav>