<nav class="navbar  shadow-sm navbar-expand-lg navbar-light bg-light rounded">
    <div class="container fs-5">
        <a class="navbar-brand align-middle" href="/">
            <img src="/img/logo-kirmizi-borderless.png" alt="" height="100" class="d-inline-block align-top" />
        </a>

        

        <a class="btn btn-danger text-center fs-5" href="#" role="button"><i class="bi bi-door-closed"></i>Çıkış</a>

    </div>
</nav>