<div class="list-group" id="list-tab" role="tablist">
    <a class="list-group-item list-group-item-action active" id="list-home-list"  href="/admin/create" role="tab">İlan Ekle</a>
    <a class="list-group-item list-group-item-action" id="list-profile-list"  href="/admin/update" role="tab">İlan Düzenle</a>
    <a class="list-group-item list-group-item-action" id="list-messages-list"  href="/admin/delete" role="tab">İlan Silme</a>
    <a class="list-group-item list-group-item-action" id="list-settings-list"  href="#" role="tab">Kullanıcı Yönetimi</a>
</div>
   