<footer class="mt-4 p-5 bg-dark text-white rounded shadow-sm">
    <div class="container">

        <div class="row">
            <div class="col-lg d-flex flex-column text-center">
                <h3>
                    İletişim
                </h3>
                <hr />
                <p>
                    <strong>Adres:</strong> Mevlana Mahallesi Çelebi Mehmet Caddesi No: 33A 34515 Esenyurt – İstanbul <br />
                    <strong>Telefon:</strong> 0 212 854 38 55 / 300 <br />
                    <strong>Posta Kodu:</strong> 34515 <br />
                    <strong>E-Posta:</strong>info@marmarapark.com <br />
                    <strong>Web:</strong>www.marmarapark.com <br />
                </p>

            </div>

            <div class="col-md d-flex flex-column text-center">
                <h3>
                    Hızlı Erişim
                </h3>
                <hr />
                <a href="/">Anasayfa</a>
                <a href="/about">Hakkımızda</a>
                <a href="/sales">Satışlar</a>
                <a href="/contactus">İletişim</a>

            </div>

            <div class="col-md d-flex flex-column text-center ">
                <h3>
                    Sosyal Medya
                </h3>
                <hr />
                <a  href="https://www.facebook.com/"><i class="bi bi-instagram"></i> Instagram</a>
                <a  href="https://twitter.com/"><i class="bi bi-twitter"></i> Twitter</a>
                <a  href="https://www.instagram.com/"><i class="bi bi-facebook"></i> Facebook</a>

            </div>
        </div>
    </div>
</footer>