<footer class="mt-4 p-5 bg-dark text-white shadow-sm">
    <div class="container">

        <div class="row">
            <div class="col-lg d-flex flex-column text-center">
                <h3>
                    İletişim
                </h3>
                <hr />
                <p>
                    <strong><i class="bi bi-geo-alt"></i> Adres:</strong> West Park Evleri, Ekinoba Mah Mustafa Kemal Bulvarı, Orhan Veli Sk. NO 1 D:3B, 34535 Büyükçekmece/İstanbul <br />
                    <strong><i class="bi bi-telephone"></i> Telefon:</strong> 0507 082 51 82 <br />
                    <strong><i class="bi bi-envelope"></i> E-Posta:</strong> info@bisikletklinigi.com <br />
                </p>

            </div>

            <div class="col-md d-flex flex-column text-center">
                <h3>
                    Hızlı Erişim
                </h3>
                <hr />
                <a href="/">Anasayfa</a>
                <a href="/about">Hakkımızda</a>
                <a href="/sales?q=sifir">Bisikletler</a>
                <a href="/sales?q=ikinciel">İkinci El</a>
                <a href="/contactus">İletişim</a>

            </div>

            <div class="col-md d-flex flex-column text-center ">
                <h3>
                    Sosyal Medya
                </h3>
                <hr />
                <a href="https://www.instagram.com/bisikletklinigi/"><i class="bi bi-instagram"></i> Instagram</a>
                <a href="https://www.facebook.com/Bisiklet-Klini%C4%9Fi-Servis-Ve-Perakende-Hizmeti-106394701508459"><i class="bi bi-facebook"></i> Facebook</a>
                <a href="https://twitter.com/BisikletKlinigi"><i class="bi bi-twitter"></i> Twitter</a>
                <a href="https://www.youtube.com/channel/UCn7CSmPMeRYwIwv3jNKqqgA"><i class="bi bi-youtube"></i> Youtube</a>
            </div>
            <hr />
            <p class="text-center text-muted" style="margin-bottom:-25px;"><a style="color:darkgray;" href="https://yesode.com/">YESODE</a> Tarafından Hazırlandı.</p>
        </div>
    </div>
</footer>