<footer class="mt-4 p-5 bg-dark text-white rounded shadow-sm">
    <div class="container">
        <div class="row">
            <div class="col d-flex flex-column">
                <h3>
                    Hızlı Erişim
                </h3>

                <a href="/">Anasayfa</a>
                <a href="/about">Hakkımızda</a>
                <a href="/sales">Satışlar</a>
                <a href="/contact">İletişim</a>

            </div>

            <div class="col d-flex flex-column">
                <h3>
                    Sosyal Medya
                </h3>

                <a href="https://www.facebook.com/">Instagram</a>
                <a href="https://twitter.com/">Twitter</a>
                <a href="https://www.instagram.com/">Facebook</a>
               
            </div>
        </div>
    </div>
</footer>