<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Profesyonel mekanikerlerimiz aracılığıyla eşsiz teknik servis hizmeti Bisiklet Kliniği'nde! Her bütçeye uygun, sıfır ve ikinci el bisikletler, aydınlatma ekipmanları, çeşitli aksesuarlar mağazamızda sizleri bekliyor! ">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="bisiklet kliniği, bisiklet, bisiklet servisi, servis ,sıfır bisiklet, ikinci el bisiklet, bisiklet tamiri, mimaroba bisikletçi, büyükçekmece bisikletçi ,istanbul bisikletçi">
    <link rel="shortcut icon" type="image/png" href="/img/logo-kirmizi-borderless.png" alt="Bisiklet Kliniği - Bisiklet Servisi ve Bisiklet Parçaları Perakende Satış Hizmeti"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/style.css">
    @RenderSection("pagination", false)

    <title>@ViewBag.Title</title>
</head>
<body>
    @await Html.PartialAsync("_navbar")

    @RenderBody()

    @await Html.PartialAsync("_footer")



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
