@model List<Entities.Concrete.Sale>

@foreach (var sale in Model)
{
    <div class="card Sales-card m-2 p-0 d-flex" style="width: 18rem;">
        <img src="~/img/uploads/@sale.Image" class="card-img-top" alt="bisiklet kliniği, bisiklet servisi">
        <div class="card-body">
            <h5 class="card-title">@sale.Topic</h5>
            <p class="card-text">@sale.Description</p>
            <span class="card-money">@String.Format("{0:0,0.00}", sale.Price)  &#8378</span>
            <br/><hr/>
            <a href="/Admin/Update/@sale.Id" class="btn btn-warning">Güncelle</a>
            <a href="/Admin/Delete/@sale.Id" class="btn btn-danger">Sil</a>
        </div>
    </div>
}
