:root {
    --body-background-color: #F8F9FA;
    --slider-font-size: 1.6rem;
    --slider-text-color: white;
    --navbar-background-color: #F8F9FA;
    --about-font-size: 1.6rem;
    --contact-font-size: 1.4rem;
    --footer-background-color: #393E46;
    --home-font-size: 1.4rem;
    --mobile-home-font-size: 1.1rem;
    --logo-red: #E11322;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-background-color);
}

.carousel-item > img {
    max-height: 720px;
    filter: brightness(60%);
}

.slider-text {
    font-size: var(--slider-font-size);
    color: var(--slider-text-color);
    bottom: 1rem;
    right: 0;
    z-index: 2;
    width: 70%;
}

.navbar {
    background-color: var(--navbar-background-color) !important;
}

.navbar-nav {
    margin-left: auto;
}

.Sales, .Login, .Register, .About {
    min-height: 70vh;
}

footer {
    background-color: var(--footer-background-color);
}

footer a {
    text-decoration: none;
    height:35px;
}

footer a:hover {
    color: var(--logo-red);
}

.Social-links a:hover {
    color: var(--logo-red);
}


.Home-cards p {
    font-size: var(--home-font-size);
}

.Home-cards img {
    width: 270px;
}

.About {
    font-size: var(--about-font-size);
}

.About-img {
    clip-path: polygon(36% 3%, 93% 16%, 95% 77%, 75% 100%, 17% 91%, 3% 64%, 0 29%);
}

.Contact {
    font-size: var(--contact-font-size);
}



#map {
    height: 400px;
    width: 100%;
    min-width: 280px;
}




@media only screen and (max-width: 770px) {
    .Mobile-order1 {
        order: -1;
    }

    .slider-text {
        display: none !important;
    }

    .Home-cards {
        font-size: var(--mobile-home-font-size);
    }

        .Home-cards p {
            margin-top: 20px;
        }

        .Home-cards img {
            width: 200px;
        }
}
