:root {
    --body-background-color: #F8F9FA;
    --slider-font-size: 1.6rem;
    --slider-text-color: white;
    --navbar-background-color: #F8F9FA;
    --about-font-size: 1.6rem;
    --contact-font-size:1.4rem;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-background-color);
}

.carousel-item > img {
    max-height: 720px;
    filter: brightness(60%);
}

.slider-text {
    font-size: var(--slider-font-size);
    color: var(--slider-text-color);
    bottom: 1rem;
    right: 0;
    z-index: 2;
    width: 70%;
}

.navbar{
    background-color: var(--navbar-background-color) !important;
}

.navbar-nav{
    margin-left:auto;
}


.About {
    font-size: var(--about-font-size);
}

.About-img {
    clip-path: polygon(36% 3%, 93% 16%, 95% 77%, 75% 100%, 17% 91%, 3% 64%, 0 29%);
}

.Contact{
    font-size:var(--contact-font-size);
}

#map {
    height: 400px;
    width: 100%;
}


/*.Navbar-link, .Navbar-link:hover, .Navbar-link:visited, .Navbar-link:focus, .Navbar-link:active {
    color: var(--Navbar-link-text-color);
    padding-right: 1rem;
    text-decoration: none;
    outline: 0;
}

.Navbar-link::after {
    content: '';
    display: block;
    visibility: hidden;
    width: 0px;
    height: 3px;
    background-color: var(--Navbar-link-text-color);
    transition: width .4s;
}

.Navbar-link:hover::after {
    visibility: visible;
    width: 100%;
}*/*/

/* */

/*.Homepage {

}

.Homepage .slide {
    background-repeat: no-repeat;
    background-size: cover;  
}

.Homepage-text {
    position: absolute;
    right: 5%;
    bottom: 100px;
    z-index: 9;
    text-shadow: 2px 2px 4px #000000;
    width: 45%;
    font-size: var(--paragraph-font-size);
}

.About {
    font-size: var(--paragraph-font-size);
}

.About-img{
    clip-path: polygon(36% 3%, 93% 16%, 95% 77%, 75% 100%, 17% 91%, 3% 64%, 0 29%);
}

.Sales {
    color:black;
}


.Contact {
    font-size: var(--paragraph-font-size);
}

#map {
    height: 400px;
    width: 100%;
    min-width:350px;
}


@media (max-width:800px) {

    .Contact .container{
    padding-top:var(--navbar-height);
    }

}

@media (max-width:650px) {
    .Navbar{
        top:5px;
    }

    .Homepage-text {
        width: 80%;
        left:5px;
    }
}

@media (max-width:400px) {
    .Homepage-text {
        width: 95%;
        left: 10px;
    }
}*/


